---
import type TagCount from '@models/TagCount'

interface Props {
  name: string,
  description: string,
  count: TagCount
}

const { name, count } = Astro.props
---

<a
  href={`/tags/${name.toLowerCase()}`}
  class='block p-6 bg-gray-800 rounded-lg border border-primary hover:border-[#83D6E7] transition-colors'
>
  <h2 class='text-2xl font-bold text-primary mb-2'>{name}</h2>
  <div class='text-gray-400 space-y-1'>
    <p class='font-medium'>
      {count.totalCount} elemento{count.totalCount !== 1 ? 's' : ''}
    </p>
    <div class='text-sm'>
      <p>{count.articleCount} artículo{count.articleCount !== 1 ? 's' : ''}</p>
      <p>{count.resourceCount} recurso{count.resourceCount !== 1 ? 's' : ''}</p>
    </div>
  </div>
</a>
